html{
    height: 100%;
    min-height: 100%;
}
body {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.darken:hover img {
    opacity: 0.7;
}

container-fluid{
  width: 70% !important;
}

#header {
    position: fixed;
    width: 30%;
    background: url("../images/headersplash.JPG") right top;
    background-attachment: fixed;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#darkcontainer{
    color: white;
    font-family: 'Palanquin', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: 100%;
    padding-top: 120px;
    background-color: rgba(0,0,0,0.50);
    height: 100%;
}

.sectionseparator {
    position: right relative;
    float: right;
    width: 70%;
    background-color: #bababa;
    height: 10px;

}

#portfolio{
    width: 70%;
    position: right;
    z-index: -1;
    float: right;
    padding-top: 30px;
    background-color: #EEF0F0;
    padding-bottom: 40px;
}

@media screen and (max-width: 1400px){
#myface {
  display: none;
}
}

/*#myface{
    position: absolute;
    width: 128px;
    height: 128px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    /*background: url("../images/myface.png") no-repeat;

    margin-right: 30%;
    margin-left: 70%;
    } */

h2{
    font-family: 'Palanquin', sans-serif !important;
    font-weight: 300 !important;
    text-align: center;
}

h3{
    font-family: 'Palanquin', sans-serif;
    font-weight: 300 !important;
    text-align: center;
}

h4{
    font-family: 'Palanquin', sans-serif;
    font-weight: 300 !important;
    text-align: center;
}


h5 {
    font-family: 'Palanquin', sans-serif;
    font-weight: 300 !important;
    font-size: 1.5rem !important;
    text-transform: uppercase;
}

h5.title {
    margin-bottom: -3px;
    font-size: 1.5rem !important;
    text-transform: uppercase;
    color:#54a3da;
}

a.title {
    text-decoration: none;
}

p.title{
    margin-bottom: 10px;
}

#aboutme{
  text-align: left !important;
  font-size: 20px !important;
  font-family: 'Palanquin', sans-serif !important;
  font-weight: 300 !important;
}

#about{
    overflow: hidden;
    width: 70%;
    float: right;
    color: white;
    background-color: #363636;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

#topPage{
    overflow: hidden;
    width: 70%;
    float: right;
    color: white;
    background-color: #363636;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer {
    font-size: 1.6rem;
    background-color: white;
    color: black;
    padding-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 100px;
    text-align: center;
}

.header {
color: #36A0FF;
font-size: 27px;
padding: 10px;
}

#contact{
	color: white;
  text-align: left !important;
  font-size: 20px !important;
  font-family: 'Palanquin', sans-serif !important;
  font-weight: 300 !important;
}

#contact h2{
  font-size: 30px;
}

#map-canvas {
  width: 100%;
  height: 400px;
}

dt{
  padding-top: 10px;
}

/*
*{
    border: 1px solid red;
}
*/
