body{
  font-family: 'Alegreya', serif;
  background-color: #fcfcfc;
  font-size: 15px;
}
#hero{
  /*background-image:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("images/headersplash.jpg");*/
  /**/
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

ul{
  list-style: none;
}

li{
  margin-left: -45px;
  padding-left: 0;
}

#intro{
  color: white;
}

#hello{
  color: #56D3B7;
}

#rainbowfy:hover{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#desc{
  color: white;
}

.portimg{
  max-height: 75px;
}

li{
  font-size: 14px;
}

a{
  color: white;
  cursor: pointer;
}

a:hover{
  color: #86E5D0;
}

#logo{
  float: right;
  max-width: 150px;
  z-index: 2;
}

#socialmedia{
  /*font-family: 'Lato', sans-serif;*/
  color: white;
}

@media screen and (max-width: 1280px){
  #logocont{
    margin-right: 150px !important;
  }
  #logo{
    float: none;
    margin-bottom: 10%;
  }

  #para{
    padding-bottom: 20px;
  }
}

#para{
  background-color: rgba(0,0,0,0.5);
}
