body{
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
              Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
	font-weight: lighter;
}

p{
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
              Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
	font-weight: lighter;
}

/* main page */
section:after
{
	position: absolute;
	content: ' ';
	left: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

/* navigation */
nav
{
    position: fixed;
    padding-top: 15%;
    left: -9.5em;
    top: 0;
    width: 10.3em;
    bottom: 0;
    background-color: #332D2D;
    box-shadow: 4px 0 5px rgba(0,0,0,0.2);
    z-index: 1;
}
 
nav:after
{
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    right: -45px;
    top: 45%;
    border-width: 15px 15px;
    border-style: solid;
    border-color: transparent transparent transparent #332D2D;
}


ul
{	
	width: 8em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}

nav a:link, nav a:visited
{
	display: block;
	width: 100%;
	line-height: 2.5em;
	text-indent: 10px;
	text-decoration: none;
	color: #EFF6FC;
	border-radius: 4px;
	outline: 0 none;
}

nav a:hover, nav a:focus
{
	color: #fff;
	background-color: #53595E;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}

/* hovering */
section, section:after, nav, nav *
{
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

nav:hover
{
	left: 0;
}

nav:hover ~ section
{
	-webkit-transform: translateX(16em); 
	-moz-transform: translateX(16em); 
	-ms-transform: translateX(16em); 
	-o-transform: translateX(16em); 
	transform: translateX(16em); 
}

nav:hover ~ section:after
{
	left: 16em;
}

